<div>
    <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="div">
                    <span class="p-2 btn-warning"><%= dose.ingredient.name %></span>
                    <%= dose.description %>
                </div>
                <div class="div">
                    <%= link_to icon('far', 'trash-alt'), dose_path(dose), html_options = {
                        method: :delete,
                        class: "btn btn-danger"
                    }%>
                </div>
            </li>
        <% end %>
    </ul>
</div>