<% @title = "All cocktails" %>
<% @left_nav_icon = (link_to icon('fas', 'plus', class: 'strong'), new_cocktail_path, class: "btn btn-primary") %>

<%= render "components/navbar" %>


<%= render 'components/cocktail_grid' %>


<ul class="list-group">
<% @cocktails.each do |cocktail| %>
    <li class="list-group-item">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>


<% end %>
</ul>
